---
---
@import "{{ site.theme }}";

* {
  font-family: sans-serif;
}

html, body, .markdown-body {
  width: 100vw;
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
  background: #002b36;
  position: fixed;
  inset: 0;
}

.markdown-body {
  &>h1, &>div#app { display: none; }
}
